<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Project Details</h1>
</div>
<div class="row">
  <div class="col-sm">
    Project name: <%= @project.name %>
  </div>
</div>
</br>
<%= link_to 'Add ToDo', new_project_todo_path(@project), class: 'btn btn-primary' %>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'View ToDos', project_todos_path(@project) %> |
<%= link_to 'Back', projects_path %>
